{% extends "reviewApp/base.html" %}
{% block content %}
<h1>What We Do</h1>
<p class="content-section">
    Creating quality reviews of the latest technology.
</p>

<h1>About Us</h1>
<div class="content-section">
   <p>ReviewApp is created by a student in Sheffield Hallam University, called Radit Zanardi.</p>  
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae faucibus risus. Donec diam felis, commodo ut volutpat eget, tempus ac lorem. Pellentesque et nulla mi. Vivamus hendrerit enim eget ex maximus vulputate. Donec eu felis lorem. Sed fringilla nunc eu tempus tempor. Phasellus eu sem vel turpis porttitor auctor. 
    Maecenas mauris metus, maximus id accumsan sed, tincidunt sed lacus. Mauris elementum turpis ac elit vestibulum, in cursus ante consectetur. Nulla facilisis egestas ex eu vulputate. Proin quam lacus, hendrerit rutrum finibus quis, mollis id mi. Mauris at porta nulla. Fusce commodo lorem et tellus condimentum pulvinar. Praesent eget arcu in diam porttitor blandit. Donec malesuada ipsum at varius imperdiet. Vivamus vel rutrum augue, id consectetur risus. Sed dapibus eleifend arcu, sed rhoncus dui tempor commodo. 
</div>
{% endblock content %}