{% extends "reviewApp/base.html" %}
{% block content %}

	<h1>Contact Us</h1>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<form action="{% url 'reviewApp-contact' %}" method="POST">
					{% csrf_token %}
					<div class="row">
						<div class="col-md-8">
							<div class="form-group">
								<label for="Name">Name</label>
								<input type="text" name="Name" placeholder="Enter your name" class="form-control" required="true">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<div class="form-group">
								<label for="Email">Email Address</label>
								<input type="email" name="Email" placeholder="Enter your email address" class="form-control" required="true">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<div class="form-group">
								<label for="Subject">Subject</label>
								<input type="text" name="Subject" placeholder="Enter subject of message " class="form-control" required="true">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<div class="form-group">
								<label for="Message">Message</label>
								<textarea name="Message" placeholder="Enter message here" class="form-control" required="true" rows="5" cols="50"></textarea>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<div class="form-group">
								<button class="btn btn-success" type="submit">Submit</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-4">
				<img src= "https://images.unsplash.com/photo-1512626120412-faf41adb4874?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" style="width: 700px;height: 500px;">
				<div class="content-section">
					<h3>Lorem Ipsum</h3>
					<p class='text-muted'>
						Lorem ipsum dolor sit amet, iudico docendi inciderint per eu, ea vis scripta senserit periculis. Lorem ipsum dolor sit amet, iudico docendi inciderint per eu, ea vis scripta senserit periculis.
					</p>
				</div>
			</div>
		</div>
	</div>
	</div>

{% endblock content %}