{% extends "reviewApp/base.html" %}
{% block content %}
<h1>Welcome to ReviewApp</h1>
<p class="content-section">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae urna porta, egestas mi quis, auctor enim. Vivamus vel sapien risus. Donec ullamcorper felis elit, nec varius massa cursus at. Donec eu tortor aliquet, tincidunt justo vitae, tempus tellus. Sed urna est, porta nec metus ac, pretium scelerisque dui. Nulla vel elit ut lorem vestibulum pharetra. Sed urna est, porta nec metus ac, pretium scelerisque dui. 
</p>
<h1>Our Logo</h1>
<img src="https://pbs.twimg.com/profile_images/1149632911185866752/54sBvKVg_400x400.jpg">

{% endblock content %}