{% extends "reviewApp/base.html" %}
{% block content %}
<h1>Review App - Products</h1>
	<div class="row">
		<div class="col-md-8">
		{% for product in products %}
			<article class="media content-section" style="max-height: 170px;">
	  		<img class="rounded-square article-img" src="{{product.productphoto.url}}" style="min-width: 150px; min-height: 150px;max-width: 150px; max-height: 150px">
			  <div class="media-body">
			    <div class="article-metadata">
			      <span class="mr-2">{{ product.category }} - £{{ product.cost }}</span>
			      <small class="text-muted">{{ product.releasedate }}</small>
			    </div>
			    <h2><a class="article-title" href="{% url 'product-detail' pk=product.id %}">{{ product.brand }} - {{ product.name }} </a></h2>
		    	<span class="text-concat">
		    		<p class="article-content" style="word-wrap: break-word;">{{ product.description }}</p>
		    	</span>
			  </div>
			</article>
		{% endfor %}
		</div>
		<div class="col-md-4">
			<div class="content-section">
				<h3>Lorem Ipsum</h3>
				<p class='text-muted'>
					Lorem ipsum dolor sit amet, iudico docendi inciderint per eu, ea vis scripta senserit periculis. Lorem ipsum dolor sit amet, iudico docendi inciderint per eu, ea vis scripta senserit periculis.
				</p>
			</div>
			<div class="content-section">
				<h3>Lorem Ipsum</h3>
				<p class='text-muted'>
					Lorem ipsum dolor sit amet, iudico docendi inciderint per eu, ea vis scripta senserit periculis. Lorem ipsum dolor sit amet, iudico docendi inciderint per eu, ea vis scripta senserit periculis.
			</div>
		</div>
    </div>
    
    {% endblock content %}