{% extends "reviewApp/base.html" %}
{% block content %}
	
	<h1>Reviews</h1>

	<div class="container">
		{% for review in Reviews %}
			<div class="content-section"><a href="{% url 'review-detail' pk=review.id %}" title="Click for Detailed View">
				<div class="row">
					<div class="col-md-2" style="float: left;">
						<img class="rounded-circle article-img" src="{{ review.profile.profilephoto.url }}" style="min-width: 80px; min-height: 80px;max-width: 80px; max-height: 80px">
					</div>
					<div class="col-md-5" style="float: right;">
						<h4 class="article-title">{{ review.product.brand }} {{ review.product.name }} - {{ review.product.category }}</h4>
						<h4 class="article-title">£{{ review.product.cost }}</h4>
						<p class="article-content">Description: {{ review.product.description }}</p>
					</div>
					<div class="col-md-5">
						<h4 class="mr-2">Author: {{ review.author }}</h4>
						<h4 class="mr-2">Rating: {{ review.rating }}/5</h4>
						<p class="article-content">Review: {{ review.reviewtext }}</p>
					</div>
				</div>
			</a></div>
		{% endfor %}
	</div>

{% endblock content %}